#TrainTime {
   padding: 0.5rem;
   border: 1.5px solid $text-color;
   border-radius: 0.5rem;

   .train-info {
      display: grid;
      font-size: 18px;
      font-weight: bold;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      margin-bottom: 1rem;

      label {
         display: inline-block;
         width: 40%;
         max-width: 80px;
         margin-right: 4px;
      }
   }
}
